<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faceArr</key>
	<array>
		<string>Face01</string>
		<string>Face02</string>
		<string>Face03</string>
		<string>Face04</string>
		<string>Face05</string>
		<string>Face06</string>
		<string>Face07</string>
		<string>Face08</string>
	</array>
	<key>rearHairArr</key>
	<array>
		<string>RearHair01</string>
		<string>RearHair02</string>
		<string>RearHair03</string>
	</array>
	<key>frontHairArr</key>
	<array>
		<string>FrontHair01</string>
		<string>FrontHair02</string>
		<string>FrontHair03</string>
	</array>
	<key>eyeBrowsArr</key>
	<array>
		<string>Eyebrows01</string>
		<string>Eyebrows02</string>
		<string>Eyebrows03</string>
	</array>
	<key>eyeArr</key>
	<array>
		<string>Eyes01</string>
		<string>Eyes02</string>
		<string>Eyes03</string>
	</array>
	<key>noseArr</key>
	<array>
		<string>Nose01</string>
		<string>Nose02</string>
		<string>Nose03</string>
		<string>Nose04</string>
		<string>Nose05</string>
		<string>Nose06</string>
		<string>Nose07</string>
		<string>Nose08</string>
	</array>
	<key>mouthArr</key>
	<array>
		<string>Mouth01</string>
		<string>Mouth02</string>
		<string>Mouth03</string>
	</array>
	<key>earsArr</key>
	<array>
		<string>Ears01</string>
		<string>Ears02</string>
		<string>Ears03</string>
	</array>
	<key>neckArr</key>
	<array>
		<string>Neck01a</string>
		<string>Neck02a</string>
		<string>Neck03a</string>
	</array>
	<key>accArr</key>
	<array>
		<string>Kemono01</string>
		<string>Acc2_03</string>
		<string>Acc1_01</string>
		<string>Acc2_09</string>
		<string>Acc2_01</string>
	</array>
</dict>
</plist>
