<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faceArr</key>
	<array>
		<string>Face01m</string>
		<string>Face02m</string>
		<string>Face03m</string>
		<string>Face04m</string>
		<string>Face05m</string>
		<string>Face06m</string>
		<string>Face07m</string>
		<string>Face08m</string>
	</array>
	<key>rearHairArr</key>
	<array>
		<string>RearHair03m</string>
		<string>RearHair08m</string>
		<string>RearHair10m</string>
	</array>
	<key>frontHairArr</key>
	<array>
		<string>FrontHair01m</string>
		<string>FrontHair02m</string>
		<string>FrontHair03m</string>
	</array>
	<key>eyeBrowsArr</key>
	<array>
		<string>Eyebrows01</string>
		<string>Eyebrows02</string>
		<string>Eyebrows03</string>
	</array>
	<key>eyeArr</key>
	<array>
		<string>Eyes05m</string>
		<string>Eyes06m</string>
		<string>Eyes09m</string>
	</array>
	<key>noseArr</key>
	<array>
		<string>Nose01m</string>
		<string>Nose02m</string>
		<string>Nose03m</string>
		<string>Nose04m</string>
		<string>Nose05m</string>
		<string>Nose06m</string>
		<string>Nose07m</string>
		<string>Nose08m</string>
	</array>
	<key>mouthArr</key>
	<array>
		<string>Mouth01m</string>
		<string>Mouth03m</string>
		<string>Mouth06m</string>
	</array>
	<key>earsArr</key>
	<array>
		<string>Ears01</string>
		<string>Ears02</string>
		<string>Ears03</string>
	</array>
	<key>beardArr</key>
	<array>
		<string>Beard01</string>
		<string>Beard02</string>
		<string>Beard03</string>
	</array>
	<key>neckArr</key>
	<array>
		<string>Neck01am</string>
		<string>Neck02am</string>
		<string>Neck07am</string>
	</array>
	<key>accArr</key>
	<array>
		<string>Kemono01</string>
		<string>Acc2_03</string>
		<string>Acc1_01</string>
		<string>Acc2_09</string>
		<string>Acc2_01</string>
	</array>
</dict>
</plist>
