<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>characterId</key>
		<string>01</string>
		<key>name</key>
		<string>戈斯●达勒</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_1</string>
		<key>animationImage</key>
		<string>character_move_1</string>
		<key>characterDescription</key>
		<string>性格特点：虽然能体谅别人、替人设想、将心比心，但是却爱管人、不能以身作则。
喜欢做/说：热爱音乐，五音不全却喜欢唱歌</string>
		<key>blood</key>
		<integer>100</integer>
		<key>currentBlood</key>
		<integer>100</integer>
		<key>leadAbility</key>
		<integer>100</integer>
		<key>attack</key>
		<integer>10</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>1000</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>02</string>
		<key>name</key>
		<string>佩儿● 雪莱 </string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_2</string>
		<key>animationImage</key>
		<string>character_move_2</string>
		<key>characterDescription</key>
		<string>性格特点：虽然自发性强、容易解决问题、对每一个经验都很陶醉，但是却爱玩、无节制、沉迷玩乐。
喜欢做/说：阿~~~西巴</string>
		<key>blood</key>
		<integer>95</integer>
		<key>currentBlood</key>
		<integer>95</integer>
		<key>leadAbility</key>
		<integer>95</integer>
		<key>attack</key>
		<integer>11</integer>
		<key>defence</key>
		<integer>18</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>1000</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>03</string>
		<key>name</key>
		<string>罗宾斯●加里</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_03</string>
		<key>animationImage</key>
		<string>character_move_03</string>
		<key>characterDescription</key>
		<string>性格特点：虽然懂得忍耐 喜欢讲理，但是却非黑即白 没有中立
喜欢做/说：抱后脑勺</string>
		<key>blood</key>
		<integer>110</integer>
		<key>currentBlood</key>
		<integer>110</integer>
		<key>leadAbility</key>
		<integer>102</integer>
		<key>attack</key>
		<integer>8</integer>
		<key>defence</key>
		<integer>22</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>04</string>
		<key>name</key>
		<string>朱利安●安德森 </string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_04</string>
		<key>animationImage</key>
		<string>character_move_04</string>
		<key>characterDescription</key>
		<string>性格特点：虽然非常大方、考虑周到、不论付出，但是当付出后、渴望别人回报
喜欢做/说：大光头</string>
		<key>blood</key>
		<integer>95</integer>
		<key>currentBlood</key>
		<integer>95</integer>
		<key>leadAbility</key>
		<integer>97</integer>
		<key>attack</key>
		<integer>11</integer>
		<key>defence</key>
		<integer>18</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>05</string>
		<key>name</key>
		<string>斯蒂芬斯●哈里斯</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_05</string>
		<key>animationImage</key>
		<string>character_move_05</string>
		<key>characterDescription</key>
		<string>性格特点：虽然外向、乐观、感激、有欣赏力、懂得感激，但是却行事冲动、夸张、不切实际
喜欢做/说：为了避免家庭暴力，于是我决定不结婚</string>
		<key>blood</key>
		<integer>105</integer>
		<key>currentBlood</key>
		<integer>105</integer>
		<key>leadAbility</key>
		<integer>102</integer>
		<key>attack</key>
		<integer>13</integer>
		<key>defence</key>
		<integer>15</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>06</string>
		<key>name</key>
		<string>朱蒂斯●克拉克</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_06</string>
		<key>animationImage</key>
		<string>character_move_06</string>
		<key>characterDescription</key>
		<string>虽然忠诚行动、值得信赖、对认同的对象付出承诺和忠实、家人和朋友是重要的。借着合作、可靠、负责、值得信赖、苦干来回应他人，但是却害怕做决定、优柔寡断
喜欢做/说：身体不允许却喜欢玩刺激、极限运动</string>
		<key>blood</key>
		<integer>105</integer>
		<key>currentBlood</key>
		<integer>105</integer>
		<key>leadAbility</key>
		<integer>90</integer>
		<key>attack</key>
		<integer>8</integer>
		<key>defence</key>
		<integer>21</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>07</string>
		<key>name</key>
		<string>斯莫利特●莱斯特</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_07</string>
		<key>animationImage</key>
		<string>character_move_07</string>
		<key>characterDescription</key>
		<string>虽然泰然自若、态度轻松、从容的面对自己和生活，但是却不爱做决定讲自己意见、因为害怕与人有冲突
喜欢做/说：招风耳</string>
		<key>blood</key>
		<integer>98</integer>
		<key>currentBlood</key>
		<integer>98</integer>
		<key>leadAbility</key>
		<integer>98</integer>
		<key>attack</key>
		<integer>7</integer>
		<key>defence</key>
		<integer>25</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>08</string>
		<key>name</key>
		<string>优拉●伊夫林</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_08</string>
		<key>animationImage</key>
		<string>character_move_08</string>
		<key>characterDescription</key>
		<string>虽然有君子风范、有耐性、愿意聆听、是很好的调停者、安慰者、以及支持者。但是却无用无助无方向
喜欢做/说：甩头发</string>
		<key>blood</key>
		<integer>95</integer>
		<key>currentBlood</key>
		<integer>95</integer>
		<key>leadAbility</key>
		<integer>95</integer>
		<key>attack</key>
		<integer>7</integer>
		<key>defence</key>
		<integer>13</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>09</string>
		<key>name</key>
		<string>伊迪丝●欧文</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_09</string>
		<key>animationImage</key>
		<string>character_move_09</string>
		<key>characterDescription</key>
		<string>虽然精力充沛、适应能力强，但是却杀人如麻、很有倾向会进行谋杀或暗杀
喜欢做/说：打响指</string>
		<key>blood</key>
		<integer>99</integer>
		<key>currentBlood</key>
		<integer>99</integer>
		<key>leadAbility</key>
		<integer>100</integer>
		<key>attack</key>
		<integer>14</integer>
		<key>defence</key>
		<integer>15</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>10</string>
		<key>name</key>
		<string>奥尔科特●贝尔</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_10</string>
		<key>animationImage</key>
		<string>character_move_10</string>
		<key>characterDescription</key>
		<string>虽然充满动力、热心、精力充沛、能量高、容易激动并且非常狂热，但是却爱玩、无节制、沉迷玩乐
喜欢做/说：本身非常有钱，爱贪小便宜</string>
		<key>blood</key>
		<integer>110</integer>
		<key>currentBlood</key>
		<integer>110</integer>
		<key>leadAbility</key>
		<integer>110</integer>
		<key>attack</key>
		<integer>5</integer>
		<key>defence</key>
		<integer>25</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>11</string>
		<key>name</key>
		<string>霍伊尔●彼得斯</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_11</string>
		<key>animationImage</key>
		<string>character_move_11</string>
		<key>characterDescription</key>
		<string>虽然乐于助人 公正无私 愿意奉献，但是却固执 讨厌人批评自己
喜欢做/说：双手蒙面</string>
		<key>blood</key>
		<integer>100</integer>
		<key>currentBlood</key>
		<integer>110</integer>
		<key>leadAbility</key>
		<integer>100</integer>
		<key>attack</key>
		<integer>10</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>characterId</key>
		<string>12</string>
		<key>name</key>
		<string>苏珊娜●莱斯利</string>
		<key>icon</key>
		<string></string>
		<key>smallImage</key>
		<string></string>
		<key>bigImage</key>
		<string></string>
		<key>faceImage</key>
		<string>character_face_12</string>
		<key>animationImage</key>
		<string>character_move_12</string>
		<key>characterDescription</key>
		<string>虽然能与人建立好关系、沟通能力强、知道如何将事情以大家可以接受和不得不接受的方式提出来，但是却为了胜利、成就可以不惜一切、爱利用别人、常觉得别人只是工具、不介意让人踩肩膊、亦爱踩人肩膊
喜欢做/说：喜欢的人不出现，出现的人不喜欢。</string>
		<key>blood</key>
		<integer>90</integer>
		<key>currentBlood</key>
		<string>90</string>
		<key>leadAbility</key>
		<integer>45</integer>
		<key>attack</key>
		<integer>15</integer>
		<key>defence</key>
		<integer>15</integer>
		<key>carryingGeneral</key>
		<array/>
		<key>allGeneral</key>
		<array/>
		<key>havingCities</key>
		<array/>
		<key>soldierNum</key>
		<integer>100</integer>
		<key>equiped</key>
		<array/>
		<key>package</key>
		<dict/>
		<key>tasksList</key>
		<array/>
		<key>money</key>
		<integer>0</integer>
		<key>skillPointRemaining</key>
		<integer>0</integer>
		<key>skillsList</key>
		<array/>
		<key>power</key>
		<integer>100</integer>
		<key>generalNoActing</key>
		<array/>
		<key>soldiersNoActing</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
