<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityId</key>
		<string>101</string>
		<key>name</key>
		<string>克斯郡</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>这是一个神秘的村庄，多少年来，每隔一些年都会有勇士从这里走出来，然后。。。</string>
		<key>attack</key>
		<integer>40</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>owner</key>
		<string>palyer</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>100</integer>
		<key>roadToll</key>
		<integer>0</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>550</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>102</string>
		<key>name</key>
		<string>西罗堡</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>在这片神秘的大陆上，有一个城堡叫做“西罗堡”，多少年不知道有多少想要攻破它，但是他们却都倒在了这座城堡坚不可摧的防御下。</string>
		<key>attack</key>
		<integer>70</integer>
		<key>defence</key>
		<integer>120</integer>
		<key>owner</key>
		<string>安东尼●杰拉德</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>80</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>800</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>103</string>
		<key>name</key>
		<string>舌摩罗达堡</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>这里本是一个小村庄，然而一天邪恶的魔王带领他的手下屠杀了这个村庄，建起了如今的“舌摩罗达堡”。</string>
		<key>attack</key>
		<integer>80</integer>
		<key>defence</key>
		<integer>90</integer>
		<key>owner</key>
		<string>惠勒●库克</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>300</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>1100</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>104</string>
		<key>name</key>
		<string>鲁特岛</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>这里远离了俗世间的争斗，虽然它很小，但是这里的人却乐善好施。</string>
		<key>attack</key>
		<integer>40</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>owner</key>
		<string>理查兹●鲁珀特</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>40</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>105</string>
		<key>name</key>
		<string>波斯城</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>这个城市是这片大陆上最大的城市，也是最权威的城市，詹姆斯国王就是居住在这里。</string>
		<key>attack</key>
		<integer>200</integer>
		<key>defence</key>
		<integer>200</integer>
		<key>owner</key>
		<string>詹姆斯●奎克</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>300</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>106</string>
		<key>name</key>
		<string>古拉郡</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>这只是一个很小的郡，但是它却在这片大陆上起着非常大的作用，因为这是这片大陆的交通要塞。</string>
		<key>attack</key>
		<integer>60</integer>
		<key>defence</key>
		<integer>60</integer>
		<key>owner</key>
		<string>赫伯特●希尔</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>200</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>107</string>
		<key>name</key>
		<string>克菲城</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>这座城也坐落在大陆的交通要塞上，然而城主的野心却远远不至这么大，据说他想当国王。</string>
		<key>attack</key>
		<integer>110</integer>
		<key>defence</key>
		<integer>40</integer>
		<key>owner</key>
		<string>多宾 ●克拉克</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>150</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>108</string>
		<key>name</key>
		<string>奥路沙褒</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>它坐落在大陆的最西方，四周都是沙漠，然而险恶的环境早就了很多勇士。</string>
		<key>attack</key>
		<integer>70</integer>
		<key>defence</key>
		<integer>70</integer>
		<key>owner</key>
		<string>休姆●威廉姆斯 </string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>100</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>700</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>109</string>
		<key>name</key>
		<string>科不城</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>怎么看这座城市都是一个很普通的城市。。。</string>
		<key>attack</key>
		<integer>70</integer>
		<key>defence</key>
		<integer>80</integer>
		<key>owner</key>
		<string>克雷吉●莱斯特</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>110</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>800</integer>
	</dict>
	<dict>
		<key>cityId</key>
		<string>110</string>
		<key>name</key>
		<string>里腊堡</string>
		<key>icon</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>cityDescription</key>
		<string>虽然它和科不城一样从外表看起来都是一样的普通，但是它却是大陆上的一个秘密，谁也不知道它是什么时候建起。</string>
		<key>attack</key>
		<integer>80</integer>
		<key>defence</key>
		<integer>80</integer>
		<key>owner</key>
		<string>王尔德●莱斯利</string>
		<key>tasksList</key>
		<array/>
		<key>eventsList</key>
		<array/>
		<key>mana</key>
		<integer>0</integer>
		<key>roadToll</key>
		<integer>130</integer>
		<key>output</key>
		<dict>
			<key>startTime</key>
			<date>2015-06-29T11:53:30Z</date>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<key>residenceGeneral</key>
		<string></string>
		<key>residenceSoldiers</key>
		<integer>900</integer>
	</dict>
</array>
</plist>
