<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>generalId</key>
		<string>20</string>
		<key>name</key>
		<string>小跟班</string>
		<key>icon</key>
		<string>20_1</string>
		<key>image</key>
		<string>20_2</string>
		<key>generalDescription</key>
		<string>不识字</string>
		<key>attack</key>
		<integer>50</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>500</integer>
		<key>loyalty</key>
		<integer>50</integer>
		<key>gatheringCapacity</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>21</string>
		<key>name</key>
		<string>乔治·威廉·老不死</string>
		<key>icon</key>
		<string>21_1.png</string>
		<key>image</key>
		<string>21_2</string>
		<key>generalDescription</key>
		<string>闯荡50多年的老头子，经历无数艰险却从来都不死</string>
		<key>attack</key>
		<integer>50</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>500</integer>
		<key>loyalty</key>
		<integer>50</integer>
		<key>gatheringCapacity</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>22</string>
		<key>name</key>
		<string>大卫·李·妥什尔·麦克斯基</string>
		<key>icon</key>
		<string>22_1.png</string>
		<key>image</key>
		<string>22_2</string>
		<key>generalDescription</key>
		<string>来自于上层社会的神秘贵族骑士，热爱圣光胜于公主</string>
		<key>attack</key>
		<integer>50</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>500</integer>
		<key>loyalty</key>
		<integer>50</integer>
		<key>gatheringCapacity</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>23</string>
		<key>name</key>
		<string>西门吹牛逼</string>
		<key>icon</key>
		<string>23_1.png</string>
		<key>image</key>
		<string>23_2</string>
		<key>generalDescription</key>
		<string>看上去一口胡话，但是事实果真如此？</string>
		<key>attack</key>
		<integer>50</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>500</integer>
		<key>loyalty</key>
		<integer>50</integer>
		<key>gatheringCapacity</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>24</string>
		<key>name</key>
		<string>若思·罗曼忒可</string>
		<key>icon</key>
		<string>24_1.png</string>
		<key>image</key>
		<string>24_2</string>
		<key>generalDescription</key>
		<string>散发着迷人诱惑的带刺女领主，期盼着她的王子与她得浪漫恋情</string>
		<key>attack</key>
		<integer>50</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>500</integer>
		<key>loyalty</key>
		<integer>50</integer>
		<key>gatheringCapacity</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>25</string>
		<key>name</key>
		<string>卡布基斯·农外丝</string>
		<key>icon</key>
		<string>25_1.png</string>
		<key>image</key>
		<string>25_2</string>
		<key>generalDescription</key>
		<string>强力的助手，办事井井有条，但是并没有什么卵用</string>
		<key>attack</key>
		<integer>38</integer>
		<key>defence</key>
		<integer>39</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>46</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>26</string>
		<key>name</key>
		<string>布鲁斯·踏订沟</string>
		<key>icon</key>
		<string>26_1.png</string>
		<key>image</key>
		<string>26_2</string>
		<key>generalDescription</key>
		<string>从来都是醉醺醺的大胖子，也许是个灵魂音乐家</string>
		<key>attack</key>
		<integer>26</integer>
		<key>defence</key>
		<integer>45</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>48</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>27</string>
		<key>name</key>
		<string>杰克松·尼禄·华盛顿</string>
		<key>icon</key>
		<string>27_1.png</string>
		<key>image</key>
		<string>27_2</string>
		<key>generalDescription</key>
		<string>领地小领主，自称有除魔师资格，但是那是买的假证明</string>
		<key>attack</key>
		<integer>40</integer>
		<key>defence</key>
		<integer>31</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>43</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>28</string>
		<key>name</key>
		<string>侬菲·至特赤威</string>
		<key>icon</key>
		<string>28_1.png</string>
		<key>image</key>
		<string>28_2</string>
		<key>generalDescription</key>
		<string>来自于小乡下的什么都不知道的小人物，有个哥哥，有个弟弟</string>
		<key>attack</key>
		<integer>35</integer>
		<key>defence</key>
		<integer>40</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>41</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>29</string>
		<key>name</key>
		<string>瓦特·至特赤威</string>
		<key>icon</key>
		<string>29_1.png</string>
		<key>image</key>
		<string>29_2</string>
		<key>generalDescription</key>
		<string>侬菲的哥哥，自从进城被震惊了后，经常说：你们城里人真会玩</string>
		<key>attack</key>
		<integer>33</integer>
		<key>defence</key>
		<integer>44</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>48</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>30</string>
		<key>name</key>
		<string>凯尔·至特赤威</string>
		<key>icon</key>
		<string>30_1.png</string>
		<key>image</key>
		<string>30_2</string>
		<key>generalDescription</key>
		<string>侬菲的弟弟，喜欢做别人看不懂的事情</string>
		<key>attack</key>
		<integer>45</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>44</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>31</string>
		<key>name</key>
		<string>瑟波·佐罗</string>
		<key>icon</key>
		<string>31_1.png</string>
		<key>image</key>
		<string>31_2</string>
		<key>generalDescription</key>
		<string>独断风行的黑夜剑客，江湖上一直有他的传说</string>
		<key>attack</key>
		<integer>44</integer>
		<key>defence</key>
		<integer>36</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>41</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>32</string>
		<key>name</key>
		<string>刹兜·浓帕斯</string>
		<key>icon</key>
		<string>32_1.png</string>
		<key>image</key>
		<string>32_2</string>
		<key>generalDescription</key>
		<string>脑子有点笨，但是是个死心眼</string>
		<key>attack</key>
		<integer>31</integer>
		<key>defence</key>
		<integer>45</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>49</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>33</string>
		<key>name</key>
		<string>a·菲儿沃克</string>
		<key>icon</key>
		<string>33_1.png</string>
		<key>image</key>
		<string>33_2</string>
		<key>generalDescription</key>
		<string>可爱的小家伙，但是作用可是很大的</string>
		<key>attack</key>
		<integer>36</integer>
		<key>defence</key>
		<integer>45</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>48</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>34</string>
		<key>name</key>
		<string>鹌鹑永不消亡</string>
		<key>icon</key>
		<string>34_1.png</string>
		<key>image</key>
		<string>34_2</string>
		<key>generalDescription</key>
		<string>是个熊德，很胖，被人揍胖得</string>
		<key>attack</key>
		<integer>37</integer>
		<key>defence</key>
		<integer>43</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>47</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>35</string>
		<key>name</key>
		<string>泰尔格·楼德</string>
		<key>icon</key>
		<string>35_1.png</string>
		<key>image</key>
		<string>35_2</string>
		<key>generalDescription</key>
		<string>以猛攻著称的绿林好汉，善使一双铁拳</string>
		<key>attack</key>
		<integer>43</integer>
		<key>defence</key>
		<integer>35</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>43</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>36</string>
		<key>name</key>
		<string>斯匹支·浓婉波</string>
		<key>icon</key>
		<string>36_1.png</string>
		<key>image</key>
		<string>36_2</string>
		<key>generalDescription</key>
		<string>热辣的妹子，无人知其从何处来，欲往何处去</string>
		<key>attack</key>
		<integer>22</integer>
		<key>defence</key>
		<integer>15</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>40</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>37</string>
		<key>name</key>
		<string>大卫·菲利普斯</string>
		<key>icon</key>
		<string>37_1.png</string>
		<key>image</key>
		<string>37_2</string>
		<key>generalDescription</key>
		<string>随处可见的路人，经常会发怒</string>
		<key>attack</key>
		<integer>26</integer>
		<key>defence</key>
		<integer>18</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>43</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>38</string>
		<key>name</key>
		<string>科特·察只威利</string>
		<key>icon</key>
		<string>38_1.png</string>
		<key>image</key>
		<string>38_2</string>
		<key>generalDescription</key>
		<string>县城里的小财主，有一个商队，崇尚以和为贵</string>
		<key>attack</key>
		<integer>15</integer>
		<key>defence</key>
		<integer>28</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>45</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>39</string>
		<key>name</key>
		<string>罗特·克里斯尔</string>
		<key>icon</key>
		<string>39_1.png</string>
		<key>image</key>
		<string>39_2</string>
		<key>generalDescription</key>
		<string>一个妹控的哥哥，为了带妹妹看海而出门旅行</string>
		<key>attack</key>
		<integer>21</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>44</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>40</string>
		<key>name</key>
		<string>菲晔·克丽丝尔</string>
		<key>icon</key>
		<string>40_1.png</string>
		<key>image</key>
		<string>40_2</string>
		<key>generalDescription</key>
		<string>有一个妹控的哥哥，被哥哥强行带出门看海，嘴上说着不喜欢心理缺很开心</string>
		<key>attack</key>
		<integer>34</integer>
		<key>defence</key>
		<integer>5</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>44</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>41</string>
		<key>name</key>
		<string>查知·基普凯拉维斯</string>
		<key>icon</key>
		<string>41_1.png</string>
		<key>image</key>
		<string>41_2</string>
		<key>generalDescription</key>
		<string>占星术大师，是个真正的智者</string>
		<key>attack</key>
		<integer>18</integer>
		<key>defence</key>
		<integer>18</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>42</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>42</string>
		<key>name</key>
		<string>路人甲</string>
		<key>icon</key>
		<string>42_1.png</string>
		<key>image</key>
		<string>42_2</string>
		<key>generalDescription</key>
		<string>史上最强配角之一，但是只是个配角</string>
		<key>attack</key>
		<integer>5</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>45</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>43</string>
		<key>name</key>
		<string>路人乙</string>
		<key>icon</key>
		<string>43_1.png</string>
		<key>image</key>
		<string>43_2</string>
		<key>generalDescription</key>
		<string>史上最强配角之一，但是只是个配角</string>
		<key>attack</key>
		<integer>5</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>45</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>44</string>
		<key>name</key>
		<string>包不同</string>
		<key>icon</key>
		<string>44_1.png</string>
		<key>image</key>
		<string>44_2</string>
		<key>generalDescription</key>
		<string>以一张巧嘴走天下的赤脚道士，因吃霸王餐被人揍得很惨</string>
		<key>attack</key>
		<integer>14</integer>
		<key>defence</key>
		<integer>35</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>40</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>45</string>
		<key>name</key>
		<string>吉尔伽什·高德莱克</string>
		<key>icon</key>
		<string>45_1.png</string>
		<key>image</key>
		<string>45_2</string>
		<key>generalDescription</key>
		<string>自以为是主角的配角</string>
		<key>attack</key>
		<integer>23</integer>
		<key>defence</key>
		<integer>15</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>40</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>46</string>
		<key>name</key>
		<string>拿破轮·斯特勒</string>
		<key>icon</key>
		<string>46_1.png</string>
		<key>image</key>
		<string>46_2</string>
		<key>generalDescription</key>
		<string>北方高低耳机村门口修自行车的老师傅</string>
		<key>attack</key>
		<integer>19</integer>
		<key>defence</key>
		<integer>16</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>40</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>47</string>
		<key>name</key>
		<string>三板斧</string>
		<key>icon</key>
		<string>47_1.png</string>
		<key>image</key>
		<string>47_2</string>
		<key>generalDescription</key>
		<string>无名无姓，江湖人称三板斧，你不倒我倒</string>
		<key>attack</key>
		<integer>40</integer>
		<key>defence</key>
		<integer>1</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>45</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>48</string>
		<key>name</key>
		<string>伊泽略尔</string>
		<key>icon</key>
		<string>48_1.png</string>
		<key>image</key>
		<string>48_2</string>
		<key>generalDescription</key>
		<string>像我这么帅气的，在别的游戏里，一定是黄毛</string>
		<key>attack</key>
		<integer>22</integer>
		<key>defence</key>
		<integer>19</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>40</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>49</string>
		<key>name</key>
		<string>扭头人·雷霆呀</string>
		<key>icon</key>
		<string>49_1.png</string>
		<key>image</key>
		<string>49_2</string>
		<key>generalDescription</key>
		<string>力量与农药，大地母亲在忽悠着你</string>
		<key>attack</key>
		<integer>24</integer>
		<key>defence</key>
		<integer>26</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>40</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>generalId</key>
		<string>50</string>
		<key>name</key>
		<string>科什金·米理查尔</string>
		<key>icon</key>
		<string>50_1.png</string>
		<key>image</key>
		<string>50_2</string>
		<key>generalDescription</key>
		<string>铸造武器的铁匠，自身不会打仗，却能打制神兵利器</string>
		<key>attack</key>
		<integer>13</integer>
		<key>defence</key>
		<integer>28</integer>
		<key>power</key>
		<integer>100</integer>
		<key>maxSoldiers</key>
		<integer>300</integer>
		<key>loyalty</key>
		<integer>45</integer>
		<key>gatheringCapacity</key>
		<integer>60</integer>
	</dict>
</array>
</plist>
