<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>monsterId</key>
		<string>51</string>
		<key>name</key>
		<string>远古天使</string>
		<key>icon</key>
		<string>51_1</string>
		<key>image</key>
		<string>51_2</string>
		<key>monsterDescription</key>
		<string>来自远古时代，长期栖息于此，攻击一切过往行人。</string>
		<key>attack</key>
		<integer>10</integer>
		<key>defence</key>
		<integer>10</integer>
		<key>blood</key>
		<integer>100</integer>
		<key>currentBlood</key>
		<integer>100</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>52</string>
		<key>name</key>
		<string>鬼精灵</string>
		<key>icon</key>
		<string>52_1</string>
		<key>image</key>
		<string>52_2</string>
		<key>monsterDescription</key>
		<string>精灵族精灵死亡后，由于生前怨恨太深，变成鬼精灵。</string>
		<key>attack</key>
		<integer>15</integer>
		<key>defence</key>
		<integer>15</integer>
		<key>blood</key>
		<integer>150</integer>
		<key>currentBlood</key>
		<integer>150</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>53</string>
		<key>name</key>
		<string>寄生兽</string>
		<key>icon</key>
		<string>53_1</string>
		<key>image</key>
		<string>53_2</string>
		<key>monsterDescription</key>
		<string>这是一种非常残暴的怪物，他们喜好群居，且非常残忍，代表着死亡。</string>
		<key>attack</key>
		<integer>30</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>blood</key>
		<integer>200</integer>
		<key>currentBlood</key>
		<integer>200</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>54</string>
		<key>name</key>
		<string>灾厄蛟龙</string>
		<key>icon</key>
		<string>54_1</string>
		<key>image</key>
		<string>54_2</string>
		<key>monsterDescription</key>
		<string>类似于龙但是它又不是龙，却一直有着成为龙的理想。</string>
		<key>attack</key>
		<integer>40</integer>
		<key>defence</key>
		<integer>40</integer>
		<key>blood</key>
		<integer>250</integer>
		<key>currentBlood</key>
		<integer>250</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>55</string>
		<key>name</key>
		<string>酆都骑士</string>
		<key>icon</key>
		<string>55_1</string>
		<key>image</key>
		<string>55_2</string>
		<key>monsterDescription</key>
		<string>他们源自人类中勇敢善战的骑士，骑士死亡后被魔法操控产生酆都骑士，拥有生前的战斗力。</string>
		<key>attack</key>
		<integer>50</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>blood</key>
		<integer>300</integer>
		<key>currentBlood</key>
		<integer>300</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>56</string>
		<key>name</key>
		<string>骷髅战士</string>
		<key>icon</key>
		<string>56_1</string>
		<key>image</key>
		<string>56_2</string>
		<key>monsterDescription</key>
		<string>低级的亡灵类生物，算是怪物中比较底层的存在了，被高级怪物奴役和差使。</string>
		<key>attack</key>
		<integer>5</integer>
		<key>defence</key>
		<integer>5</integer>
		<key>blood</key>
		<integer>60</integer>
		<key>currentBlood</key>
		<integer>60</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>57</string>
		<key>name</key>
		<string>猛毒猎犬</string>
		<key>icon</key>
		<string>57_1</string>
		<key>image</key>
		<string>57_2</string>
		<key>monsterDescription</key>
		<string>农夫走丢的猎犬发生了某些奇怪的变异，它不仅长出了肉翅，还会到处袭击遇到的生物，非常的凶残。</string>
		<key>attack</key>
		<integer>10</integer>
		<key>defence</key>
		<integer>6</integer>
		<key>blood</key>
		<integer>100</integer>
		<key>currentBlood</key>
		<integer>100</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>58</string>
		<key>name</key>
		<string>无耻暴徒</string>
		<key>icon</key>
		<string>58_1</string>
		<key>image</key>
		<string>58_2</string>
		<key>monsterDescription</key>
		<string>邋遢的中年大叔，老婆被隔壁老王拐走了，孩子走丢了，所以自暴自弃到处惹是生非。</string>
		<key>attack</key>
		<integer>9</integer>
		<key>defence</key>
		<integer>10</integer>
		<key>blood</key>
		<integer>85</integer>
		<key>currentBlood</key>
		<integer>85</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>59</string>
		<key>name</key>
		<string>游荡僵尸</string>
		<key>icon</key>
		<string>59_1</string>
		<key>image</key>
		<string>59_2</string>
		<key>monsterDescription</key>
		<string>吸血鬼袭击村庄后留下了被转化的村民，成为了四处游荡的僵尸。它们已经丧失了人类的意识，见到生物就会本能地猛扑上去，疯狂地撕咬。</string>
		<key>attack</key>
		<integer>5</integer>
		<key>defence</key>
		<integer>5</integer>
		<key>blood</key>
		<integer>50</integer>
		<key>currentBlood</key>
		<integer>50</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>60</string>
		<key>name</key>
		<string>死亡巨蟹</string>
		<key>icon</key>
		<string>60_1</string>
		<key>image</key>
		<string>60_2</string>
		<key>monsterDescription</key>
		<string>寄居蟹和变异生物的结合体，身躯巨大化了，成为了一种凶猛的怪物</string>
		<key>attack</key>
		<integer>18</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>blood</key>
		<integer>140</integer>
		<key>currentBlood</key>
		<integer>140</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>61</string>
		<key>name</key>
		<string>灾厄鼠群</string>
		<key>icon</key>
		<string>61_1</string>
		<key>image</key>
		<string>61_2</string>
		<key>monsterDescription</key>
		<string>长久以来一直受到人类压迫的老鼠中出现了变异体，拥有非常强健的大脑和坚实的身躯，带领着鼠群以灭绝人类为目标进行各种报复。</string>
		<key>attack</key>
		<integer>10</integer>
		<key>defence</key>
		<integer>10</integer>
		<key>blood</key>
		<integer>300</integer>
		<key>currentBlood</key>
		<integer>300</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>62</string>
		<key>name</key>
		<string>荒古树精</string>
		<key>icon</key>
		<string>62_1</string>
		<key>image</key>
		<string>62_2</string>
		<key>monsterDescription</key>
		<string>生存了上万年的老树产生了自己的智慧，为了摄取更多地养分会袭击路过的生物并且吞噬他们。</string>
		<key>attack</key>
		<integer>35</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>blood</key>
		<integer>280</integer>
		<key>currentBlood</key>
		<integer>280</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>63</string>
		<key>name</key>
		<string>诅咒恶鬼</string>
		<key>icon</key>
		<string>63_1</string>
		<key>image</key>
		<string>63_2</string>
		<key>monsterDescription</key>
		<string>不死族中的法师，拥有强大的操纵死亡魔法的能力，及其鄙视以肉体力量强大而沾沾自喜的同族。因此自身的肉体力量非常弱。</string>
		<key>attack</key>
		<integer>80</integer>
		<key>defence</key>
		<integer>5</integer>
		<key>blood</key>
		<integer>200</integer>
		<key>currentBlood</key>
		<integer>200</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>64</string>
		<key>name</key>
		<string>水镜幽灵</string>
		<key>icon</key>
		<string>64_1</string>
		<key>image</key>
		<string>64_2</string>
		<key>monsterDescription</key>
		<string>从带有魔力的泉水中孕育出的生物，全身由水组成，并且能够变换成任意的形态。攻击的时候会硬化，但是这时候自身的核心也会暴露出来。</string>
		<key>attack</key>
		<integer>12</integer>
		<key>defence</key>
		<integer>5</integer>
		<key>blood</key>
		<integer>110</integer>
		<key>currentBlood</key>
		<integer>110</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>65</string>
		<key>name</key>
		<string>灰烬豪猪</string>
		<key>icon</key>
		<string>65_1</string>
		<key>image</key>
		<string>65_2</string>
		<key>monsterDescription</key>
		<string>由恶魔们实验制造出来的变异猪人，会为了生存地盘而战斗，它们的肉非常美味。</string>
		<key>attack</key>
		<integer>25</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>blood</key>
		<integer>180</integer>
		<key>currentBlood</key>
		<integer>180</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>66</string>
		<key>name</key>
		<string>血蚀魅魔</string>
		<key>icon</key>
		<string>66_1</string>
		<key>image</key>
		<string>66_2</string>
		<key>monsterDescription</key>
		<string>恶魔族中的上层人物，向往人类丰饶的生活，想过上女王一般的日子。自身的实力非常强劲，会差使比自己等级低的恶魔。</string>
		<key>attack</key>
		<integer>65</integer>
		<key>defence</key>
		<integer>55</integer>
		<key>blood</key>
		<integer>380</integer>
		<key>currentBlood</key>
		<integer>380</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>67</string>
		<key>name</key>
		<string>深渊之口</string>
		<key>icon</key>
		<string>67_1</string>
		<key>image</key>
		<string>67_2</string>
		<key>monsterDescription</key>
		<string>生来就只知道吃的低级恶魔，为了进食舍弃了除了嘴以外的基本器官，什么都会吃。</string>
		<key>attack</key>
		<integer>15</integer>
		<key>defence</key>
		<integer>12</integer>
		<key>blood</key>
		<integer>130</integer>
		<key>currentBlood</key>
		<integer>130</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>68</string>
		<key>name</key>
		<string>罪恶僧侣</string>
		<key>icon</key>
		<string>68_1</string>
		<key>image</key>
		<string>68_2</string>
		<key>monsterDescription</key>
		<string>本事寺庙中的高僧，但是为了追求永生而不择手段，不仅杀光了寺庙中的所有僧人，还讲附近的村庄屠戮一空。当他亲切地与人交谈的时候，就是他准备将这些人祭天的时候。</string>
		<key>attack</key>
		<integer>45</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>blood</key>
		<integer>230</integer>
		<key>currentBlood</key>
		<integer>230</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>69</string>
		<key>name</key>
		<string>幻影刺客</string>
		<key>icon</key>
		<string>69_1</string>
		<key>image</key>
		<string>69_2</string>
		<key>monsterDescription</key>
		<string>隐藏在黑暗中的杀手，会出其不意地出现给予目标必杀的一击，不是你死便是我亡。</string>
		<key>attack</key>
		<integer>45</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>blood</key>
		<integer>160</integer>
		<key>currentBlood</key>
		<integer>160</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>70</string>
		<key>name</key>
		<string>嗜血蝙蝠</string>
		<key>icon</key>
		<string>70_1</string>
		<key>image</key>
		<string>70_2</string>
		<key>monsterDescription</key>
		<string>喜好吸食新鲜血液的巨大蝙蝠，不会放过任何从眼前经过的生物。</string>
		<key>attack</key>
		<integer>15</integer>
		<key>defence</key>
		<integer>10</integer>
		<key>blood</key>
		<integer>60</integer>
		<key>currentBlood</key>
		<integer>60</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>71</string>
		<key>name</key>
		<string>神威修罗</string>
		<key>icon</key>
		<string>71_1</string>
		<key>image</key>
		<string>71_2</string>
		<key>monsterDescription</key>
		<string>阿修罗，在印度教的神话里面，这是一种男性丑陋女性美丽的种族，被放逐出天外，对于众神都怀有极大的敌意。</string>
		<key>attack</key>
		<integer>85</integer>
		<key>defence</key>
		<integer>80</integer>
		<key>blood</key>
		<integer>450</integer>
		<key>currentBlood</key>
		<integer>450</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>72</string>
		<key>name</key>
		<string>大地精灵</string>
		<key>icon</key>
		<string>72_1</string>
		<key>image</key>
		<string>72_2</string>
		<key>monsterDescription</key>
		<string>与人类亲近的魔法精灵，并不会主动攻击人类，受到攻击也不会还手。</string>
		<key>attack</key>
		<integer>0</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>blood</key>
		<integer>80</integer>
		<key>currentBlood</key>
		<integer>80</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>73</string>
		<key>name</key>
		<string>远古血魔</string>
		<key>icon</key>
		<string>73_1</string>
		<key>image</key>
		<string>73_2</string>
		<key>monsterDescription</key>
		<string>非常古老的血族，是从远古时代就存活下来的及其恐怖的生物，有着近乎无限的寿命并且还拥有巨大的力量，是接近神的物种。</string>
		<key>attack</key>
		<integer>70</integer>
		<key>defence</key>
		<integer>70</integer>
		<key>blood</key>
		<integer>360</integer>
		<key>currentBlood</key>
		<integer>360</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>74</string>
		<key>name</key>
		<string>水之精灵</string>
		<key>icon</key>
		<string>74_1</string>
		<key>image</key>
		<string>74_2</string>
		<key>monsterDescription</key>
		<string>与人类亲近的魔法精灵，并不会主动攻击人类，受到攻击也不会还手。</string>
		<key>attack</key>
		<integer>0</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>blood</key>
		<integer>80</integer>
		<key>currentBlood</key>
		<integer>80</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>75</string>
		<key>name</key>
		<string>剧毒蝰蛇</string>
		<key>icon</key>
		<string>75_1</string>
		<key>image</key>
		<string>75_2</string>
		<key>monsterDescription</key>
		<string>非常凶狠的野兽，当自己的领地被侵入时会对入侵者进行无差别攻击。</string>
		<key>attack</key>
		<integer>20</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>blood</key>
		<integer>120</integer>
		<key>currentBlood</key>
		<integer>120</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>76</string>
		<key>name</key>
		<string>魔化鱼人</string>
		<key>icon</key>
		<string>76_1</string>
		<key>image</key>
		<string>76_2</string>
		<key>monsterDescription</key>
		<string>收到魔晶石的照射而产生了变异的鱼类，异常凶恶并且极具攻击性，有时候会跑到岸上来攻击陆地上的生物。</string>
		<key>attack</key>
		<integer>40</integer>
		<key>defence</key>
		<integer>30</integer>
		<key>blood</key>
		<integer>190</integer>
		<key>currentBlood</key>
		<integer>190</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>77</string>
		<key>name</key>
		<string>过路勇者</string>
		<key>icon</key>
		<string>77_1</string>
		<key>image</key>
		<string>77_2</string>
		<key>monsterDescription</key>
		<string>路过的冒险者，大多都梦想着屠杀一条恶龙然后过上万人敬仰的生活。</string>
		<key>attack</key>
		<integer>60</integer>
		<key>defence</key>
		<integer>50</integer>
		<key>blood</key>
		<integer>280</integer>
		<key>currentBlood</key>
		<integer>280</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>78</string>
		<key>name</key>
		<string>食人宝箱</string>
		<key>icon</key>
		<string>78_1</string>
		<key>image</key>
		<string>78_2</string>
		<key>monsterDescription</key>
		<string>宝箱外形的怪物，当不知情的人去打开时就会瞬间将其吞噬。也许里面真的藏有什么宝藏也说不定呢。</string>
		<key>attack</key>
		<integer>35</integer>
		<key>defence</key>
		<integer>35</integer>
		<key>blood</key>
		<integer>180</integer>
		<key>currentBlood</key>
		<integer>180</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>79</string>
		<key>name</key>
		<string>兽人战士</string>
		<key>icon</key>
		<string>79_1</string>
		<key>image</key>
		<string>79_2</string>
		<key>monsterDescription</key>
		<string>非常巨大的兽人，皮糙肉厚，看上去非常棘手。</string>
		<key>attack</key>
		<integer>15</integer>
		<key>defence</key>
		<integer>20</integer>
		<key>blood</key>
		<integer>100</integer>
		<key>currentBlood</key>
		<integer>100</integer>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>monsterId</key>
		<string>80</string>
		<key>name</key>
		<string>火之精灵</string>
		<key>icon</key>
		<string>80_1</string>
		<key>image</key>
		<string>80_2</string>
		<key>monsterDescription</key>
		<string>与人类亲近的魔法精灵，并不会主动攻击人类，受到攻击也不会还手。</string>
		<key>attack</key>
		<integer>0</integer>
		<key>defence</key>
		<integer>10</integer>
		<key>blood</key>
		<integer>60</integer>
		<key>currentBlood</key>
		<integer>60</integer>
		<key>items</key>
		<array/>
	</dict>
</array>
</plist>
