<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>thingId</key>
		<string>6018</string>
		<key>name</key>
		<string>野菜</string>
		<key>icon</key>
		<string>6018_1</string>
		<key>image</key>
		<string>6018_2</string>
		<key>thingDescription</key>
		<string>在路边随处可见的野菜，可以作为旅途中补充体力的食物</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>1003</string>
		<key>name</key>
		<string>大木棍</string>
		<key>icon</key>
		<string>1003_1</string>
		<key>image</key>
		<string>1003_2</string>
		<key>thingDescription</key>
		<string>用木头和布条随手组合起来的木棍，攻击力3</string>
		<key>eventId</key>
		<string>803</string>
		<key>price</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>1005</string>
		<key>name</key>
		<string>木刀</string>
		<key>icon</key>
		<string>1005_1</string>
		<key>image</key>
		<string>1005_2</string>
		<key>thingDescription</key>
		<string>木材经过加工后制作成的练习用木刀，攻击力5</string>
		<key>eventId</key>
		<string>803</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>1010</string>
		<key>name</key>
		<string>竹竿</string>
		<key>icon</key>
		<string>1010_1</string>
		<key>image</key>
		<string>1010_2</string>
		<key>thingDescription</key>
		<string>一寸长一寸强，加长型的竹竿子，攻击力10</string>
		<key>eventId</key>
		<string>803</string>
		<key>price</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>1015</string>
		<key>name</key>
		<string>短弯刀</string>
		<key>icon</key>
		<string>1015_1</string>
		<key>image</key>
		<string>1015_2</string>
		<key>thingDescription</key>
		<string>经过主角对短刀精心加工，做成了攻击力略微提升的弯刀，攻击力15</string>
		<key>eventId</key>
		<string>803</string>
		<key>price</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>1020</string>
		<key>name</key>
		<string>宽刃弯刀</string>
		<key>icon</key>
		<string>1020_1</string>
		<key>image</key>
		<string>1020_2</string>
		<key>thingDescription</key>
		<string>将弯刀的刀刃加宽，能攻击更广的范围，杀伤力大大提升，攻击力20</string>
		<key>eventId</key>
		<string>803</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>1025</string>
		<key>name</key>
		<string>木柄步枪</string>
		<key>icon</key>
		<string>1025_1</string>
		<key>image</key>
		<string>1025_2</string>
		<key>thingDescription</key>
		<string>结合主角自身的知识对这个世界的武器进行了改造，制成了属于主角时代的武器，攻击力25</string>
		<key>eventId</key>
		<string>803</string>
		<key>price</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>1030</string>
		<key>name</key>
		<string>炸裂之剑</string>
		<key>icon</key>
		<string>1030_1</string>
		<key>image</key>
		<string>1030_2</string>
		<key>thingDescription</key>
		<string>在剑的前端绑上了炸药，每斩击一次都会发生爆炸。唯一的缺点是中途需要停下来补充炸药。攻击力30</string>
		<key>eventId</key>
		<string>803</string>
		<key>price</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>3005</string>
		<key>name</key>
		<string>布裙</string>
		<key>icon</key>
		<string>3005_1</string>
		<key>image</key>
		<string>3005_2</string>
		<key>thingDescription</key>
		<string>女式的裙子，对于勇者来说不管什么装备，只要能增强自己都可以穿着。防御力5</string>
		<key>eventId</key>
		<string>804</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>3010</string>
		<key>name</key>
		<string>铁甲背心</string>
		<key>icon</key>
		<string>3010_1</string>
		<key>image</key>
		<string>3010_2</string>
		<key>thingDescription</key>
		<string>由铁块打造而成的背心式便携铠甲，牺牲了防御力换来了灵巧的动作。防御力10</string>
		<key>eventId</key>
		<string>804</string>
		<key>price</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>3015</string>
		<key>name</key>
		<string>铁制盾牌</string>
		<key>icon</key>
		<string>3015_1</string>
		<key>image</key>
		<string>3015_2</string>
		<key>thingDescription</key>
		<string>由精铁打造成的盾牌，带上它安全感大增。防御力15</string>
		<key>eventId</key>
		<string>804</string>
		<key>price</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>3020</string>
		<key>name</key>
		<string>制式铠甲</string>
		<key>icon</key>
		<string>3020_1</string>
		<key>image</key>
		<string>3020_2</string>
		<key>thingDescription</key>
		<string>全套的制式铠甲，拥有不凡的防御力。防御力20</string>
		<key>eventId</key>
		<string>804</string>
		<key>price</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6020</string>
		<key>name</key>
		<string>草药粉</string>
		<key>icon</key>
		<string>6020_1</string>
		<key>image</key>
		<string>6020_2</string>
		<key>thingDescription</key>
		<string>由采集的草药碾碎制作而成的便于携带的药粉，使用后可以恢复20体力</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6025</string>
		<key>name</key>
		<string>饭团</string>
		<key>icon</key>
		<string>6025_1</string>
		<key>image</key>
		<string>6025_2</string>
		<key>thingDescription</key>
		<string>美味的饭团，吃了以后幸福感大增，可以恢复25体力</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6030</string>
		<key>name</key>
		<string>强走药</string>
		<key>icon</key>
		<string>6030_1</string>
		<key>image</key>
		<string>6030_2</string>
		<key>thingDescription</key>
		<string>这个世界的兴奋剂，可以激发出人类的潜力，让人兴奋起来。恢复30体力</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6040</string>
		<key>name</key>
		<string>黑色秘药</string>
		<key>icon</key>
		<string>6040_1</string>
		<key>image</key>
		<string>6040_2</string>
		<key>thingDescription</key>
		<string>由原住民研磨制作的一种黑色的药，虽然难喝但是确实可以治疗伤口。恢复40生命值</string>
		<key>eventId</key>
		<string>801</string>
		<key>price</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6050</string>
		<key>name</key>
		<string>治疗药水</string>
		<key>icon</key>
		<string>6050_1</string>
		<key>image</key>
		<string>6050_2</string>
		<key>thingDescription</key>
		<string>大路货的治疗药水，各地都有销售。恢复50生命值</string>
		<key>eventId</key>
		<string>801</string>
		<key>price</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6060</string>
		<key>name</key>
		<string>再生之花</string>
		<key>icon</key>
		<string>6060_1</string>
		<key>image</key>
		<string>6060_2</string>
		<key>thingDescription</key>
		<string>乍一看跟路边的野菜一样，实际上确实及其少见的植物，能够促发人类的自愈能力。恢复60生命值</string>
		<key>eventId</key>
		<string>801</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6080</string>
		<key>name</key>
		<string>治愈卷轴</string>
		<key>icon</key>
		<string>6080_1</string>
		<key>image</key>
		<string>6080_2</string>
		<key>thingDescription</key>
		<string>由魔法师将治疗魔法封印在其中的治疗卷轴，打开后会被治愈。恢复80生命值</string>
		<key>eventId</key>
		<string>801</string>
		<key>price</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6100</string>
		<key>name</key>
		<string>一箱药水</string>
		<key>icon</key>
		<string>6100_1</string>
		<key>image</key>
		<string>6100_2</string>
		<key>thingDescription</key>
		<string>真正的勇士敢于直面挑战，喝完这箱药水能恢复大量生命值。恢复100生命值</string>
		<key>eventId</key>
		<string>801</string>
		<key>price</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6005</string>
		<key>name</key>
		<string>火凤之羽</string>
		<key>icon</key>
		<string>6005_1</string>
		<key>image</key>
		<string>6005_2</string>
		<key>thingDescription</key>
		<string>据说是凤凰掉落的羽毛，将它泡酒喝了的话可以永久增加5点生命值上限</string>
		<key>eventId</key>
		<string>806</string>
		<key>price</key>
		<integer>10000</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6010</string>
		<key>name</key>
		<string>贤者之石</string>
		<key>icon</key>
		<string>6010_1</string>
		<key>image</key>
		<string>6010_2</string>
		<key>thingDescription</key>
		<string>外形普通的石头，然而真实情况是这是一颗神奇的贤者之石，吸收它就能永久增加10点生命值上限</string>
		<key>eventId</key>
		<string>806</string>
		<key>price</key>
		<integer>15000</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>6015</string>
		<key>name</key>
		<string>传说药</string>
		<key>icon</key>
		<string>6015_1</string>
		<key>image</key>
		<string>6015_2</string>
		<key>thingDescription</key>
		<string>传说中的神奇药水，每喝一瓶都会脱胎换骨，喝了很多就能直接不老不死。永久增加15生命值上限</string>
		<key>eventId</key>
		<string>806</string>
		<key>price</key>
		<integer>20000</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5020</string>
		<key>name</key>
		<string>苹果</string>
		<key>icon</key>
		<string>5020_1</string>
		<key>image</key>
		<string>5020_2</string>
		<key>thingDescription</key>
		<string>看上去很好吃的苹果，应该不会有毒吧。</string>
		<key>eventId</key>
		<string>801</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5005</string>
		<key>name</key>
		<string>传送水晶</string>
		<key>icon</key>
		<string>5005_1</string>
		<key>image</key>
		<string>5005_2</string>
		<key>thingDescription</key>
		<string>这么神奇的东西，不知道使用以后会有什么事情发生</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5001</string>
		<key>name</key>
		<string>幸运神符</string>
		<key>icon</key>
		<string>5001_1</string>
		<key>image</key>
		<string>5001_2</string>
		<key>thingDescription</key>
		<string>传说中的神符，使用后能极大地提升幸运值。</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5050</string>
		<key>name</key>
		<string>金币堆</string>
		<key>icon</key>
		<string>5050_1</string>
		<key>image</key>
		<string>5050_2</string>
		<key>thingDescription</key>
		<string>将50金币埋起来，下次过来或许会收获更多。</string>
		<key>eventId</key>
		<string>805</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5002</string>
		<key>name</key>
		<string>昆特牌</string>
		<key>icon</key>
		<string>5002_1</string>
		<key>image</key>
		<string>5002_2</string>
		<key>thingDescription</key>
		<string>来玩一局昆特牌吧!</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5030</string>
		<key>name</key>
		<string>奇怪的鱼</string>
		<key>icon</key>
		<string>5030_1</string>
		<key>image</key>
		<string>5030_2</string>
		<key>thingDescription</key>
		<string>卖相不是很好看的鱼，闻起来有些臭了，不知道能不能吃。</string>
		<key>eventId</key>
		<string>801</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5010</string>
		<key>name</key>
		<string>奇怪的药</string>
		<key>icon</key>
		<string>5010_1</string>
		<key>image</key>
		<string>5010_2</string>
		<key>thingDescription</key>
		<string>三瓶药放在一起，也许喝下去会满状态复活?</string>
		<key>eventId</key>
		<string>802</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>thingId</key>
		<string>5100</string>
		<key>name</key>
		<string>聚宝盘</string>
		<key>icon</key>
		<string>5100_1</string>
		<key>image</key>
		<string>5100_2</string>
		<key>thingDescription</key>
		<string>传说中的聚宝盘，有一定几率将放进去的100金变成3倍、5倍、10倍和100倍</string>
		<key>eventId</key>
		<string>805</string>
		<key>price</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
